
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.goodFeed {
  color:#35d035;
  border-radius:200px;
  border:3px solid #35d035;
  padding:10px;
}

.goodNoFeed {
  color:red;
  border-radius:200px;
  border:3px solid red;
  padding:10px;
}

.feedCustomer {
  padding:15px;
  border-radius: 10px;
  background-color: #eff4f9;
}
.emptyCart {
    background-color:#343a40;
    border-radius:5px;
    color:white;
    padding:20px;
}

.lh-condensed { line-height: 1.25; }

.btcHeader {
    background-color:orange;
    padding:5px;
    border-radius:200px;
    text-decoration:none;
    color:white;
}

.avaIndex {
    border-radius:200px;
}

.form-control-members {
    width:100%;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:.25rem;
    transition:border-color
        .15s ease-in-out,
        box-shadow
        .15s ease-in-out
}

.card-img-article {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.buyBtn{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.buyBtnArticle {
   float:left;
}

.contactBtnArticle {
    float:right;
}
.priceBTC {
    font-style:italic;

}
ul#submenu-2 > li > a{padding-left:25px}
